body{
    height: 100vh;
    background-color: white;
}

h1{
    color:wheat;
    font-style: oblique;
    font-size: 50px;
}

.head{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-image:url(bg\ wallpaper.jpg);
}

.status{
    display: flex;
    flex-direction: row;
    width: 100vh;
    margin-left: 100vh;
    justify-content: space-around;
}

.status li{
    list-style: none;
    font-weight: bold;
}

.status li a{
    color: antiquewhite;
    text-decoration: none;
}

.status li a:hover,
.status li a.active{
    color: darkorange;
}

.status img{
    width: 40px;
    height:40px;
    background-color: rgb(37, 131, 0);
    border-radius: 100px;
    cursor: pointer;
}

h3{
    font-size: 25px;
    text-align: center;
    color: rgb(138, 30, 13);
    font-style: oblique;
}

.container{
    width: 190vh;
    height:50vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
    margin: 50px;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 25px;
    text-align: center;
    color: rgb(138, 30, 13);
    font-style: oblique;
}
.container p{
    text-align: center;
    margin: 5px;
}
.container li{
    margin: 5px;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 320px;
    height:40px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(135, 2, 2);
    padding: 0 8px;
    border: none;
    color: black;
}
input[type=button]{
    background: #7b2c2c;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}
